
<p>Hello, {{ userProfile.username }}! You're email address is {{ userProfile.email }}. We can Tweet you at {{ userProfile.twitter }}</p>

<section id="basicInformation">
	<span>Username</span>
        <span>{{ userProfile.username }}</span>

        <span>District</span>
        <span>{{ userProfile.address.district }}</span>

        <span>Province</span>
        <span>{{ userProfile.address.province }}</span>
</section>

<section id="contactInformation">
        <span>Twitter Handle @</span>
        <span>{{ userProfile.twitter }}</span>

        <span>Email Adderss</span>
        <span>{{ userProfile.email }}</span>
</section>

<section id="alerts">
        <span>Garbage</span>
        <span>{{ userProfile.service.garbage }}</span>

        <span>Street Closures</span>
        <span>{{ userProfile.service.street_closures }}</span>

        <span>Upcoming Events</span>
        <span>{{ userProfile.service.events }}</span>
</section>

<button ng-click="edit()">Edit</button>
